/* BAD-Assets Library
 * Brutal Anti-Design Asset Library 
 */

.bad.asset { background-color: transparent; width: 100%; }
.bad.asset>img{width: 100%; height: 100%;}
.bad.asset.bg{background-repeat: no-repeat; background-size: contain;}
.bad.asset.masked {mask-repeat: no-repeat; mask-size: contain;}
.bad.asset.micro {width: 5%;}
.bad.asset.small {width: 15%;}
.bad.asset.medium {width: 25%;}
.bad.asset.large {width: 35%;}
.bad.asset.xlarge {width: 45%;}
.bad.asset.flip-x {-webkit-transform: scaleX(-1);transform: scaleX(-1);}
.bad.asset.flip-y {-webkit-transform: scaleY(-1);transform: scaleY(-1);}
.bad.asset.flip-xy {-webkit-transform: scale(-1,-1); transform: scale(-1,-1);}

/* CHAOS */
.bad.asset.basic-chaos {aspect-ratio: 0.39/1;}
.bad.asset.masked.basic-chaos {
	-webkit-mask-image: url('chaos/basic-chaos.png'); mask-image: url('chaos/basic-chaos.png');
}
.bad.asset.central-chaos {aspect-ratio: 2.09/1;}
.bad.asset.masked.central-chaos {
	-webkit-mask-image: url('chaos/central-chaos.png'); mask-image: url('chaos/central-chaos.png');
}
.bad.asset.corner-chaos {aspect-ratio: 1.02/1;}
.bad.asset.masked.corner-chaos {
	-webkit-mask-image: url('chaos/corner-chaos.png'); mask-image: url('chaos/corner-chaos.png');
}
.bad.asset.dusty-chaos {aspect-ratio: 1.57/1;}
.bad.asset.masked.dusty-chaos {
	-webkit-mask-image: url('chaos/dusty-chaos.png'); mask-image: url('chaos/dusty-chaos.png');
}
.bad.asset.group-chaos {aspect-ratio: 0.79/1;}
.bad.asset.masked.group-chaos {
	-webkit-mask-image: url('chaos/group-chaos.png'); mask-image: url('chaos/group-chaos.png');
}
.bad.asset.leaking-chaos {aspect-ratio: 1.04/1;}
.bad.asset.masked.leaking-chaos {
	-webkit-mask-image: url('chaos/leaking-chaos.png'); mask-image: url('chaos/leaking-chaos.png');
}
.bad.asset.middle-chaos {aspect-ratio: 3.26/1;}
.bad.asset.masked.middle-chaos {
	-webkit-mask-image: url('chaos/middle-chaos.png'); mask-image: url('chaos/middle-chaos.png');
}
.bad.asset.peak-chaos {aspect-ratio: 0.92/1;}
.bad.asset.masked.peak-chaos {
	-webkit-mask-image: url('chaos/peak-chaos.png'); mask-image: url('chaos/peak-chaos.png');
}
.bad.asset.perforated-chaos {aspect-ratio: 15.06/1;}
.bad.asset.masked.perforated-chaos {
	-webkit-mask-image: url('chaos/perforated-chaos.png'); mask-image: url('chaos/perforated-chaos.png');
}
.bad.asset.pixelated-up {aspect-ratio: 0.57/1;}
.bad.asset.masked.pixelated-up {
	-webkit-mask-image: url('chaos/pixelated-up.png'); mask-image: url('chaos/pixelated-up.png');
}
.bad.asset.screen-chaos {aspect-ratio: 1.61/1;}
.bad.asset.masked.screen-chaos {
	-webkit-mask-image: url('chaos/screen-chaos.png'); mask-image: url('chaos/screen-chaos.png');
}
.bad.asset.sparking-chaos {aspect-ratio: 1.37/1;}
.bad.asset.masked.sparking-chaos {
	-webkit-mask-image: url('chaos/sparking-chaos.png'); mask-image: url('chaos/sparking-chaos.png');
}
.bad.asset.splat-chaos {aspect-ratio: 3.01/1;}
.bad.asset.masked.splat-chaos {
	-webkit-mask-image: url('chaos/splat-chaos.png'); mask-image: url('chaos/splat-chaos.png');
}
.bad.asset.stained-chaos {aspect-ratio: 1.18/1;}
.bad.asset.masked.stained-chaos {
	-webkit-mask-image: url('chaos/stained-chaos.png'); mask-image: url('chaos/stained-chaos.png');
}
.bad.asset.stroke-chaos {aspect-ratio: 1.46/1;}
.bad.asset.masked.stroke-chaos {
	-webkit-mask-image: url('chaos/stroke-chaos.png'); mask-image: url('chaos/stroke-chaos.png');
}
.bad.asset.turning-point {aspect-ratio: 1.06/1;}
.bad.asset.masked.turning-point {
	-webkit-mask-image: url('chaos/turning-point.png'); mask-image: url('chaos/turning-point.png');
}

/* GRUNGE */
.bad.asset.grunge-area {aspect-ratio: 1.67/1;}
.bad.asset.masked.grunge-area {
	-webkit-mask-image: url('grunge/grunge-area.png'); mask-image: url('grunge/grunge-area.png');
}
.bad.asset.grunge-bar {aspect-ratio: 2.96/1;}
.bad.asset.masked.grunge-bar {
	-webkit-mask-image: url('grunge/grunge-bar.png'); mask-image: url('grunge/grunge-bar.png');
}
.bad.asset.grunge-bar-alt {aspect-ratio: 3.92/1;}
.bad.asset.masked.grunge-bar-alt {
	-webkit-mask-image: url('grunge/grunge-bar-alt.png'); mask-image: url('grunge/grunge-bar-alt.png');
}
.bad.asset.grunge-frame {aspect-ratio: 1.45/1;}
.bad.asset.masked.grunge-frame {
	-webkit-mask-image: url('grunge/grunge-frame.png'); mask-image: url('grunge/grunge-frame.png');
}
.bad.asset.grunge-mess {aspect-ratio: 0.71/1;}
.bad.asset.masked.grunge-mess {
	-webkit-mask-image: url('grunge/grunge-mess.png'); mask-image: url('grunge/grunge-mess.png');
}
.bad.asset.grunge-ring {aspect-ratio: 1.03/1;}
.bad.asset.masked.grunge-ring {
	-webkit-mask-image: url('grunge/grunge-ring.png'); mask-image: url('grunge/grunge-ring.png');
}
.bad.asset.grunge-square {aspect-ratio: 1.42/1;}
.bad.asset.masked.grunge-square {
	-webkit-mask-image: url('grunge/grunge-square.png'); mask-image: url('grunge/grunge-square.png');
}
.bad.asset.grunge-stroke {aspect-ratio: 1.08/1;}
.bad.asset.masked.grunge-stroke {
	-webkit-mask-image: url('grunge/grunge-stroke.png'); mask-image: url('grunge/grunge-stroke.png');
}
.bad.asset.grunge-yield {aspect-ratio: 1.07/1;}
.bad.asset.masked.grunge-yield {
	-webkit-mask-image: url('grunge/grunge-yield.png'); mask-image: url('grunge/grunge-yield.png');
}
.bad.asset.x-grunge {aspect-ratio: 0.99/1;}
.bad.asset.masked.x-grunge {
	-webkit-mask-image: url('grunge/x-grunge.png'); mask-image: url('grunge/x-grunge.png');
}

/* HALFTONES */
.bad.asset.halftone-circle-blend {aspect-ratio: 1.06/1;}
.bad.asset.masked.halftone-circle-blend {
	-webkit-mask-image: url('halftones/halftone-circle-blend.png'); mask-image: url('halftones/halftone-circle-blend.png');
}
.bad.asset.halftone-circle-retro {aspect-ratio: 1.08/1;}
.bad.asset.masked.halftone-circle-retro {
	-webkit-mask-image: url('halftones/halftone-circle-retro.png'); mask-image: url('halftones/halftone-circle-retro.png');
}
.bad.asset.halftone-dispersion {aspect-ratio: 1.54/1;}
.bad.asset.masked.halftone-dispersion {
	-webkit-mask-image: url('halftones/halftone-dispersion.png'); mask-image: url('halftones/halftone-dispersion.png');
}
.bad.asset.halftone-retro-tiles {aspect-ratio: 2.07/1;}
.bad.asset.masked.halftone-retro-tiles {
	-webkit-mask-image: url('halftones/halftone-retro-tiles.png'); mask-image: url('halftones/halftone-retro-tiles.png');
}
.bad.asset.halftone-slices {aspect-ratio: 1.88/1;}
.bad.asset.masked.halftone-slices {
	-webkit-mask-image: url('halftones/halftone-slices.png'); mask-image: url('halftones/halftone-slices.png');
}
.bad.asset.halftone-tiles {aspect-ratio: 1.83/1;}
.bad.asset.masked.halftone-tiles {
	-webkit-mask-image: url('halftones/halftone-tiles.png'); mask-image: url('halftones/halftone-tiles.png');
}
.bad.asset.halftone-zigzag {aspect-ratio: 0.45/1;}
.bad.asset.masked.halftone-zigzag {
	-webkit-mask-image: url('halftones/halftone-zigzag.png'); mask-image: url('halftones/halftone-zigzag.png');
}

/* SCRIBBLES */
.bad.asset.angry-scribble {aspect-ratio: 1.04/1;}
.bad.asset.masked.angry-scribble {
	-webkit-mask-image: url('scribbles/angry-scribble.png'); mask-image: url('scribbles/angry-scribble.png');
}
.bad.asset.love-scribble {aspect-ratio: 0.94/1;}
.bad.asset.masked.love-scribble {
	-webkit-mask-image: url('scribbles/love-scribble.png'); mask-image: url('scribbles/love-scribble.png');
}
.bad.asset.new-directions {aspect-ratio: 0.95/1;}
.bad.asset.masked.new-directions {
	-webkit-mask-image: url('scribbles/new-directions.png'); mask-image: url('scribbles/new-directions.png');
}
.bad.asset.scribble-chaos {aspect-ratio: 1.3/1;}
.bad.asset.masked.scribble-chaos {
	-webkit-mask-image: url('scribbles/scribble-chaos.png'); mask-image: url('scribbles/scribble-chaos.png');
}
.bad.asset.scribble-grid {aspect-ratio: 1.22/1;}
.bad.asset.masked.scribble-grid {
	-webkit-mask-image: url('scribbles/scribble-grid.png'); mask-image: url('scribbles/scribble-grid.png');
}
.bad.asset.scribble-strike {aspect-ratio: 1.91/1;}
.bad.asset.masked.scribble-strike {
	-webkit-mask-image: url('scribbles/scribble-strike.png');mask-image: url('scribbles/scribble-strike.png');
}
.bad.asset.scribble-vibes {aspect-ratio: 1.14/1;}
.bad.asset.masked.scribble-vibes {
	-webkit-mask-image: url('scribbles/scribble-vibes.png'); mask-image: url('scribbles/scribble-vibes.png');
}
.bad.asset.spiral-scare {aspect-ratio: 1.04/1;}
.bad.asset.masked.spiral-scare {
	-webkit-mask-image: url('scribbles/spiral-scare.png'); mask-image: url('scribbles/spiral-scare.png');
}
.bad.asset.star-scribble {aspect-ratio: 1.12/1;}
.bad.asset.masked.star-scribble {
	-webkit-mask-image: url('scribbles/star-scribble.png'); mask-image: url('scribbles/star-scribble.png');
}
.bad.asset.whirly-scribble {aspect-ratio: 0.92/1;}
.bad.asset.masked.whirly-scribble {
	-webkit-mask-image: url('scribbles/whirly-scribble.png'); mask-image: url('scribbles/whirly-scribble.png');
}

/* TECH */
.bad.asset.hexabar {aspect-ratio: 5.63/1;}
.bad.asset.masked.hexabar {
	-webkit-mask-image: url('tech/hexabar.png'); mask-image: url('tech/hexabar.png');
}
.bad.asset.hex-tech {aspect-ratio: 0.87/1;}
.bad.asset.masked.hex-tech {
	-webkit-mask-image: url('tech/hex-tech.png'); mask-image: url('tech/hex-tech.png');
}
.bad.asset.hive-tech {aspect-ratio: 1.21/1;}
.bad.asset.masked.hive-tech {
	-webkit-mask-image: url('tech/hive-tech.png'); mask-image: url('tech/hive-tech.png');
}
.bad.asset.radial-binary {aspect-ratio: 1.02/1;}
.bad.asset.masked.radial-binary {
	-webkit-mask-image: url('tech/radial-binary.png'); mask-image: url('tech/radial-binary.png');
}
.bad.asset.radial-sectors {aspect-ratio: 0.98/1;}
.bad.asset.masked.radial-sectors {
	-webkit-mask-image: url('tech/radial-sectors.png'); mask-image: url('tech/radial-sectors.png');
}
.bad.asset.string-binary {aspect-ratio: 1.03/1;}
.bad.asset.masked.string-binary {
	-webkit-mask-image: url('tech/string-binary.png'); mask-image: url('tech/string-binary.png');
}
.bad.asset.tech-hexbar {aspect-ratio: 2.17/1;}
.bad.asset.masked.tech-hexbar {
	-webkit-mask-image: url('tech/tech-hexbar.png'); mask-image: url('tech/tech-hexbar.png');
}