.riosark strong, .riosark b, .riosark.heavy, .riosark.bold,
strong .riosark, b .riosark {
    font-family: 'Riosark';
    src: url('Riosark-Regular.eot');
    src: url('Riosark-Regular.eot?#iefix') format('embedded-opentype'),
        url('Riosark-Regular.woff2') format('woff2'),
        url('Riosark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.riosark {
    font-family: 'Riosark';
    src: url('Riosark-Light.eot');
    src: url('Riosark-Light.eot?#iefix') format('embedded-opentype'),
        url('Riosark-Light.woff2') format('woff2'),
        url('Riosark-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
