/* bIcons - Brutalist Icons 2.8 */
@import url('variables.css');

.bi:before { 
	display: inline-block;
  font: normal normal normal 14px/1 arial;
  font-size: inherit; text-rendering: auto; line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* bIcon Sizes */
.bi.bi-2x {font-size: var(--bi2x);}
.bi.bi-3x {font-size: var(--bi3x);}
.bi.bi-4x {font-size: var(--bi4x);}
.bi.bi-5x {font-size: var(--bi5x);}
.bi.bi-6x {font-size: var(--bi6x);}
/* Fluid Size Icon! */
@media screen and (min-width: 320px) {
  .bi.bi-fi { font-size: calc(16px + (160 - 16) * ((100vw - 300px) / (1600 - 300))); }
}
@media screen and (max-width: 319px) {
  .bi.bi-fi { font-size: 1.6rem; }
}

/* Danger Zone */
.bi-alert::before{content:"\2755";}
.bi-biohazard::before,.bi-toxic::before{content:"\2623";}
.bi-black-flag::before{content:"\1F3F4";}
.bi-bomb::before{content:"\1F4A3";}
.bi-danger::before{content:"\1F6A7";}
.bi-dead::before{content:"\2620";}
.bi-dynamite::before,.bi-firecracker::before{content:"\1F9E8";}
.bi-explode::before,.bi-burst::before{content:"\1F4A5";}
.bi-poison::before,.bi-deadly::before{content:"\1F571";}
.bi-radioactive::before{content:"\2622";}
.bi-red-alert::before,.bi-attention::before{content:"\2757";}
.bi-red-flag::before{content:"\1F6A9";}
.bi-red-light::before{content:"\1F6A8";}
.bi-restricted::before,.bi-blocked::before{content:"\26D4";}
.bi-sos::before{content:"\1F198";}
.bi-warning::before{content:"\26A0";}
.bi-wrong::before{content:"\274C";}
.bi-yield::before{content:"\26DB";}
