/* Emoticons */
.bi-happy::before,.bi-smile::before{content:"\1F642";}
.bi-unhappy::before,.bi-frown::before{content:"\1F641";}
.bi-censored::before,.bi-cuss::before{content:"\1F92C";}
.bi-confounded::before{content:"\1F616";}
.bi-cool::before,.bi-famous::before{content:"\1F60E";}
.bi-cowboy::before,.bi-howdy::before{content:"\1F920";}
.bi-derpy::before{content:"\1F974";}
.bi-disappointed::before{content:"\1F61E";}
.bi-fearful::before{content:"\1F628";}
.bi-festive::before{content:"\1F973";}
.bi-grimace::before,.bi-stressed::before{content:"\1F62C";}
.bi-loved::before,.bi-cherished::before{content:"\1F970";}
.bi-mind-blown::before{content:"\1F92F";}
.bi-nerdy::before,.bi-geeky::before{content:"\1F913";}
.bi-puke::before,.bi-vomit::before{content:"\1F92E";}
.bi-rich::before,.bi-greedy::before{content:"\1F911";}
.bi-sad::before,.bi-cry::before{content:"\1F622";}
.bi-silly::before{content:"\1F92A";}
.bi-sleeping:before,.bi-sleepy::before{content:"\1F634";}
.bi-smirk::before{content:"\1F60F";}
.bi-star-struck::before{content:"\1F929";}
.bi-unamused::before{content:"\1F612";}

/* Freakshow */
.bi-alien::before{content:"\1F47D";}
.bi-bat::before{content:"\1F987";}
.bi-clown::before{content:"\1F921";}
.bi-evil::before{content:"\1F608";}
.bi-fairy::before{content:"\1F9DA";}
.bi-freak::before{content:"\1F479";}
.bi-genie::before{content:"\1F9DE";}
.bi-ghost::before{content:"\1F47B";}
.bi-mermaid::before{content:"\1F9DC";}
.bi-sick::before{content:"\1F922";}
.bi-spider::before{content:"\1F577";}
.bi-unicorn::before{content:"\1F984";}
.bi-web::before{content:"\1F578";}
.bi-wizard::before{content:"\1F9D9";}
.bi-vampire::before{content:"\1F9DB";}
.bi-zombie::before{content:"\1F9DF";}