/* Objects */
.bi-airplane::before{content:"\2708";}
.bi-alarm::before{content:"\23F0";}
.bi-anchor::before{content:"\2693";}
.bi-article::before{content:"\1F4F0";}
.bi-atm::before{content:"\1F3E7";}
.bi-award::before{content:"\1F3C5";}
.bi-badge::before{content:"\1F396";}
.bi-balloon::before{content:"\1F388";}
.bi-basket::before{content:"\1F9FA";}
.bi-battery::before{content:"\1F50B";}
.bi-bike::before{content:"\1F6B2";}
.bi-bikini::before{content:"\1F459";}
.bi-bolt::before,.bi-screw::before{content:"\1F529";}
.bi-bookmark::before{content:"\1F516";}
.bi-books::before{content:"\1F4DA";}
.bi-book-open::before,.bi-open-book::before{content:"\1F4D6";}
.bi-book-open-o::before,.bi-open-book-o::before{content:"\1F56E";}
.bi-book-red::before,.bi-red-book::before{content:"\1F4D5";}
.bi-book-blue::before,.bi-blue-book::before{content:"\1F4D8";}
.bi-book-green::before,.bi-green-book::before{content:"\1F4D7";}
.bi-book-yellow::before,.bi-yellow-book::before{content:"\1F4D2";}
.bi-bricks::before{content:"\1F9F1";}
.bi-broom::before{content:"\1F9F9";}
.bi-bouquet::before{content:"\1F490";}
.bi-briefcase::before{content:"\1F4BC";}
.bi-briefs::before{content:"\1FA72";}
.bi-bulb::before,.idea::before{content:"\1F4A1";}
.bi-camera::before{content:"\1F4F7";}
.bi-candle::before{content:"\1F56F";}
.bi-car::before{content:"\1F697";}
.bi-card::before{content:"\1F4B3";}
.bi-cart::before,.bi-shop::before{content:"\1F6D2";}
.bi-cd::before{content:"\1F4BD";}
.bi-chains::before{content:"\26D3";}
.bi-chopsticks::before{content:"\1F962";}
.bi-coinbag::before,.bi-money-bag::before{content:"\1F4B0";}
.bi-compass::before{content:"\1F9ED";}
.bi-computer::before{content:"\1F4BB";}
.bi-cosmetic::before,.bi-lipstick::before{content:"\1F484";}
.bi-couch-lamp::before{content:"\1F6CB";}
.bi-diamond::before,.bi-gem::before{content:"\1F48E";}
.bi-dice::before{content:"\1F3B2";}
.bi-door::before{content:"\1F6AA";}
.bi-dress::before{content:"\1F457";}
.bi-drums::before{content:"\1F941";}
.bi-fireworks::before{content:"\1F386";}
.bi-flashlight::before{content:"\1F526";}
.bi-flute::before{content:"\1FA88";}
.bi-fork-knife::before,.bi-cutlery::before{content:"\1F374";}
.bi-fountain::before{content:"\26F2";}
.bi-fuel::before,.bi-gas::before{content:"\26FD";}
.bi-gift::before{content:"\1F381";}
.bi-cap::before,.bi-edu::before,.bi-grad::before{content:"\1F393";}
.bi-goggles::before{content:"\1F97D";}
.bi-guitar::before{content:"\1F3B8";}
.bi-hammer::before{content:"\1F528";}
.bi-handbag::before{content:"\1F45C";}
.bi-helicopter::before{content:"\1F681";}
.bi-home::before{content:"\2302";}
.bi-key::before{content:"\1F511";}
.bi-keyboard::before{content:"\2328";}
.bi-knife::before{content:"\1F52A";}
.bi-labcoat::before,.bi-lab-coat::before{content:"\1F97C";}
.bi-lotion::before,.bi-bottle::before{content:"\1F9F4";}
.bi-love-letter::before{content:"\1F48C";}
.bi-luggage::before,.bi-baggage::before{content:"\1F9F3";}
.bi-magnet::before{content:"\1F9F2";}
.bi-mailbox::before{content:"\1F4EA";}
.bi-map::before, .bi-world::before{content:"\1F5FA";}
.bi-mic::before{content:"\1F3A4";}
.bi-microscope::before{content:"\1F52C";}
.bi-mobile::before{content:"\1F4F1";}
.bi-notebook::before,.bi-journal::before{content:"\1F4D3";}
.bi-notepad::before{content:"\1F5D2";}
.bi-palette::before{content:"\1F3A8";}
.bi-pants::before{content:"\1F456";}
.bi-pennant::before{content:"\1F3F2";}
.bi-pennant-o::before{content:"\1F3F1";}
.bi-piano::before{content:"\1F3B9";}
.bi-pick::before{content:"\26CF";}
.bi-plug::before,.bi-plugin::before{content:"\1F50C";}
.bi-poop::before,.bi-shit::before{content:"\1F4A9";}
.bi-radio::before{content:"\1F4FB";}
.bi-receipt::before{content:"\1F9FE";}
.bi-robot::before{content:"\1F916";}
.bi-roller-coaster::before{content:"\1F3A2";}
.bi-ruler::before{content:"\1F4CF";}
.bi-saxophone::before{content:"\1F3B7";}
.bi-scooter::before{content:"\1F6F4";}
.bi-ship::before{content:"\1F6A2";}
.bi-shower::before{content:"\1F6BF";}
.bi-skateboard::before{content:"\1F6F9";}
.bi-skull::before{content:"\1F480";}
.bi-soap::before{content:"\1F9FC";}
.bi-socks::before{content:"\1F9E6";}
.bi-sparkler::before{content:"\1F387";}
.bi-spoon::before{content:"\1F944";}
.bi-tag::before{content:"\1F516";}
.bi-target::before{content:"\1F3AF";}
.bi-taxi::before{content:"\1F695";}
.bi-teddy::before,.bi-teddy-bear::before{content:"\1F9F8";}
.bi-telescope::before{content:"\1F52D";}
.bi-test-tube::before{content:"\1F9EA";}
.bi-ticket::before{content:"\1F3AB";}
.bi-toilet::before{content:"\1F6BD";}
.bi-toolbox::before{content:"\1F9F0";}
.bi-tp::before{content:"\1F9FB";}
.bi-tractor::before{content:"\1F69C";}
.bi-train::before{content:"\1F682";}
.bi-trophy::before{content:"\1F3C6";}
.bi-truck::before{content:"\1F69A";}
.bi-trumpet::before{content:"\1F3BA";}
.bi-tv::before{content:"\1F4FA";}
.bi-umbrella::before{content:"\☂";}
.bi-vhs::before{content:"\1F4FC";}
.bi-violin::before{content:"\1F3BB";}
.bi-wrench::before{content:"\1F527";}
.bi-yarn::before{content:"\1F9F6";}

/* Places */
.bi-bank::before{content:"\1F3E6";}
.bi-castle::before{content:"\1F3F0";}
.bi-church::before{content:"\26EA";}
.bi-factory::before,.bi-industrial::before{content:"\1F3ED";}
.bi-hospital::before{content:"\1F3E5";}
.bi-hotel::before{content:"\1F3EC";}
.bi-house::before{content:"\1F3E0";}
.bi-love-hotel::before{content:"\1F3E9";}
.bi-mosque::before{content:"\1F54C";}
.bi-office::before{content:"\1F3E2";}
.bi-post-office::before{content:"\1F3E4";}
.bi-school::before{content:"\1F3EB";}
.bi-store::before,.bi-retail::before{content:"\1F3EA";}
.bi-synagogue::before{content:"\1F54D";}
.bi-temple::before{content:"\1F6D5";}