/* Sports and Rec */
.bi-archery::before{content:"\1F3F9";}
.bi-badminton::before{content:"\1F3F8";}
.bi-baseball::before{content:"\26BE";}
.bi-basketball::before{content:"\1F3C0";}
.bi-beach::before{content:"\26F1";}
.bi-bicycle::before{content:"\1F6B4";}
.bi-billiards::before{content:"\1F3B1";}
.bi-birthday::before{content:"\1F382";}
.bi-bowling::before{content:"\1F3B3";}
.bi-canoe::before{content:"\1F6F6";}
.bi-celebrate::before{content:"\1F942";}
.bi-christmas::before{content:"\1F384";}
.bi-circus::before{content:"\1F3AA";}
.bi-climbing::before,.bi-climber::before{content:"\1F9D7";}
.bi-dating::before{content:"\1F49E";}
.bi-dining::before{content:"\1F37D";}
.bi-diving::before,.bi-snorkel::before{content:"\1F93F";}
.bi-drama::before{content:"\1F3AD";}
.bi-fencing::before,.bi-fencer::before{content:"\1F93A";}
.bi-fishing::before{content:"\1F3A3";}
.bi-football::before{content:"\1F3C8";}
.bi-gambling::before,.bi-slots::before{content:"\1F3B0";}
.bi-gaming::before{content:"\1F3AE";}
.bi-golf::before{content:"\26F3";}
.bi-halloween::before{content:"\1F383";}
.bi-hockey::before{content:"\1F3D2";}
.bi-horse-racing::before,.bi-horse-race::before{content:"\1F3C7";}
.bi-kite::before{content:"\1FA81";}
.bi-lacrosse::before{content:"\1F94D";}
.bi-lift::before{content:"\1F3CB";}
.bi-model::before{content:"\1F483";}
.bi-movies::before{content:"\1F3A5";}
.bi-parachute::before{content:"\1FA82";}
.bi-party::before{content:"\1F389";}
.bi-pinata::before{content:"\1FA85";}
.bi-ping-pong::before{content:"\1F3D3";}
.bi-puzzle::before{content:"\1F9E9";}
.bi-rowing::before{content:"\1F6A3";}
.bi-rugby::before{content:"\1F3C9";}
.bi-run::before{content:"\1F3C3";}
.bi-sailboat::before{content:"\26F5";}
.bi-soccer::before{content:"\26BD";}
.bi-softball::before{content:"\1F94E";}
.bi-surf::before,.bi-surfer::before{content:"\1F3C4";}
.bi-swim::before{content:"\1F3CA";}
.bi-tennis::before{content:"\1F3BE";}
.bi-volleyball::before{content:"\1F3D0";}
.bi-walk::before{content:"\1F6B6";}
.bi-wrestling::before{content:"\1F93C";}