/* layout */
.bi-columns::before,.bi-cols::before{content:"\2637";}
.bi-rows::before,.bi-menu::before{content:"\2630";}
.bi-cols-over-rows::before{content:"\2631";}
.bi-cols-between-rows::before{content:"\2632";}
.bi-cols-under-rows::before{content:"\2634";}
.bi-quadrant::before,.bi-panes::before{content:"\229E";}
.bi-half-panes::before{content:"\229F";}
.bi-row-over-cols::before{content:"\2636";}
.bi-row-between-cols::before{content:"\2635";}
.bi-row-under-cols::before{content:"\2633";}

/* UI and Actions */
.bi-action::before{content:"\1F3AC";}
.bi-play::before{content:"\23EF";}
.bi-pause::before{content:"\23F8";}
.bi-stop::before{content:"\23F9";}
.bi-rec::before{content:"\23FA";}
.bi-ff::before{content:"\23E9";}
.bi-seek-next::before{content:"\23ED";}
.bi-rewind::before{content:"\23EA";}
.bi-seek-prev::before{content:"\23EE";}
.bi-shuffle::before{content:"\1F500";}
.bi-repeat::before{content:"\1F501";}
.bi-repeat-once::before{content:"\1F502";}
.bi-sync::before,.bi-refresh::before{content:"\1F504";}
.bi-verify::before{content:"\2705";}
.bi-box::before{content:"\2610";}
.bi-box-check::before{content:"\2611";}
.bi-box-x::before{content:"\2612";}
.bi-check::before{content:"\2714";}
.bi-create::before{content:"\1F4AB";}
.bi-add::before{content:"\271A";}
.bi-cut::before{content:"\2702";}
.bi-delete::before{content:"\2718";}
.bi-phone::before{content:"\260E";}
.bi-phone-o::before{content:"\260F";}
.bi-call::before{content:"\1F4DE";}
.bi-email::before{content:"\2709";}
.bi-clear::before{content:"\274E";}
.bi-close::before,.bi-exit::before{content:"\2716";}
.bi-close-o::before,.bi-exit-o::before{content:"\2297";}
.bi-announce::before,.bi-megaphone::before,.bi-bullhorn::before{content:"\1F4E2";}
.bi-app-install::before{content:"\1F4F2";}
.bi-broadcast::before{content:"\1F4E1";}
.bi-compress::before{content:"\1F5DC";}
.bi-directory::before,.bi-folder::before{content:"\1F4C2";}
.bi-navigate::before,.bi-sitemap::before,.bi-nav::before{content:"\26EF";}
.bi-notify::before,.bi-bell::before{content:"\1F514";}
.bi-unnotify::before{content:"\1F515";}
.bi-fill::before{content:"\25CD";}
.bi-filter::before{content:"\1F4F6";}
.bi-flag::before{content: "\2691"; }
.bi-flag-o::before{content: "\2690";}
.bi-grid::before{content:"\25A6";}
.bi-time::before{content:"\231A";}
.bi-database::before{content:"\1F6E2";}
.bi-lock::before{content:"\1F512";}
.bi-unlock::before{content:"\1F513";}
.bi-encrypt::before{content:"\1F510";}
.bi-mute::before{content:"\1F507";}
.bi-vol-l::before{content:"\1F508";}
.bi-vol-m::before{content:"\1F509";}
.bi-vol-h::before{content:"\1F50A";}
.bi-watch::before{content:"\1F441";}
.bi-help::before{content:"\2753";}
.bi-help-o::before{content:"\2754";}
.bi-calendar::before{content:"\1F4C5";}
.bi-date::before{content:"\1F4C6";}
.bi-package::before{content:"\1F4E6";}
.bi-attachment::before{content:"\1F4CE";}
.bi-image::before{content:"\1F3B4";}
.bi-clipboard::before{content:"\1F4CB";}
.bi-control::before{content:"\26EE";}
.bi-corners::before{content:"\26F6";}
.bi-hub::before,.bi-network::before{content:"\2749";}
.bi-pk::before,.bi-primary-key::before{content:"\26BF";}
.bi-look::before{content:"\1F440";}
.bi-think::before,.bi-thought::before{content:"\1F4AD";}
.bi-isolate::before,.bi-conjunction::before{content:"\260C";}
.bi-join::before,.bi-opposition::before{content:"\260D";}
.bi-pencil::before,.bi-edit::before{content:"\270E";}
.bi-edit-active::before{content:"\270F";}
.bi-ellipsis::before, .bi-meatballs::before{content:"\22EF";}
.bi-ellipsis-v::before, .bi-kebab::before{content:"\22EE";}
.bi-sign::before{content:"\2712";}
.bi-compose::before{content:"\270D";}
.bi-forum::before{content:"\1F5E8";}
.bi-settings::before,.bi-gear::before{content:"\26ED";}
.bi-data-disk::before{content:"\1F4BF";}
.bi-data-disk-gold::before{content:"\1F4C0";}
.bi-file::before,.bi-document::before{content:"\1F4C4";}
.bi-file-edit::before,.bi-doc-edit::before{content:"\1F4DD";}
.bi-script::before{content:"\1F4C3";}
.bi-read::before{content:"\1F4DC";}
.bi-pin::before{content:"\1F4CC";}
.bi-pinpoint::before{content:"\1F4CD";}
.bi-print::before{content:"\1F5B6";}
.bi-save::before{content:"\1F4BE";}
.bi-star::before{content:"\2605";}
.bi-star-o::before{content:"\2606";}
.bi-favorite::before{content:"\2B50";}
.bi-tools::before{content:"\1F6E0";}
.bi-bar-graph::before,.bi-stats::before{content:"\1F4CA";}
.bi-charts::before,.bi-analytics::before{content:"\1F4C8";}
.bi-chat::before{content:"\1F4AC";}
.bi-approve::before{content:"\1F44D";}
.bi-disapprove::before{content:"\1F44E";}
.bi-wave::before{content:"\1F44B";}
.bi-f-off::before{content:"\1F595";}
.bi-halt::before{content:"\270B";}
.bi-video::before{content:"\1F3A6";}
.bi-user::before{content:"\1F464";}
.bi-group::before{content:"\1F465";}
.bi-input-letters::before{content:"\1F524";}
.bi-input-numbers::before{content:"\1F522";}
.bi-input-symbols::before{content:"\1F523";}